* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fdfcf9;
    /* overflow: hidden; */
}

/* body{
    background-image: url("./img/CRAPPO.png");
    background-repeat: no-repeat;
    background-blend-mode: hue;
} */

/* .header {
   
    position: fixed;
} */

.maincontentcrappo {
    background: #0D0D2B;
    /* height: 100vh; */
    width: 100%;
}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
    padding-top: 35px;
}

#navicon {
    display: none;
}

.logo {
    align-items: center;
    display: flex;
    padding: 30px;
    margin: 40px;
}

.logo img {
    padding-right: 10px;
    /* width: 60px; */
    height: 55px;
}

.logo h3 {
    font-size: 35px;
    text-align: center;
    text-transform: capitalize;
}

.menu {
    display: flex;
    margin: 30px;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
}

.menu li {
    display: flex;
    text-align: center;
    list-style: none;
    font-weight: bold;
    font-size: 25px;
    /* font-size: 15px; */
    margin: 15px;
    justify-content: space-between;
}

.navitems a {
    text-decoration: none;
}

.navitems a:hover {
    /* transform: matrix3d(); */
    border-bottom: 1px solid rgb(66, 49, 251);
    /* padding: 40px; */
}

#line {
    border-right: 1px grey solid;
    margin-left: 10px;
}

#register {
    border-radius: 15px 50px;
    background-color: rgb(66, 49, 251);
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    padding: 10px 26px;
    outline: none;
    text-align: center;
    font-size: 15px;
}

.maincontent {
    flex: auto;
    display: flex;
    padding: 30px;
    /* margin: 40px; */
    justify-content: space-between;
    align-items: center;

}

.blackfriday {
    margin-left: 40px;
    margin-bottom: 30px;
    border-radius: 22px;
    background-color: rgb(70, 68, 88);
    color: grey;
    padding: 10px 30px 10px 5px;
    align-items: center;
    justify-content: center;
}

.blackfriday button {
    border: none;
}

#SAVE {
    border-radius: 18px;
    background-color: #fdfcf9;
    color: black;
    font-weight: 30px;
    padding: 7px 12px;
}

.maintext h2 {
    /* font-size: 70px;
    font-weight: 600; */
    text-transform: capitalize;
    padding: 20px 40px;

    font-family: Rubik;
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: left;

    /* align-items: center; */
}

.maintext h4 {
    text-transform: capitalize;
    padding: 20px 40px;
    color: #fdfcf9;
}

#signup-btn,
#learnmore-btn {
    padding: 20px 45px;
    background-color: blue;
    border: none;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 32px;
    margin: 20px 40px;
}

#log1 {
    position: absolute;
    left: 10px;
    right: 55px;
    bottom: 30px;
    overflow: hidden;
}

#log2 {
    position: absolute;
    overflow: hidden;
    bottom: 10%;
    right: 30%;
    left: 0;
}

.header-footer {
    display: flex;
    flex: auto;
    justify-content: space-between;
    padding: 20px 65px;
    align-items: center;
}

.header-footer~div {
    display: lex;
    padding-right: 30px;
}

#headerfootericon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin-right: 10px;
}

#headerfootericon img {
    margin-right: 10px;
}

#headerfootericon h3 {
    /* position: absolute; */
    width: 230px;
    height: 28px;
    left: 657px;
    top: 164px;

    /* Body / Small - Regular */

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    letter-spacing: 0.01em;

    /* Neutral / Grey 5 */

    color: #E0E0E0;

}

.contentlayer2 {
    width: 100%;
    display: flex;
    /* flex: auto;
    align-items: center; */
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.contentlayer2 img {
    /* -webkit-column-width: 50%; */
    padding-left: 30px;
}

.contentlayertext {
    width: 50%;
    align-items: center;
    margin-left: 30px;
    justify-content: center;
}

.contentlayertext h3 {
    font-size: 45px;
    padding: 40px;
}

/* 
.contentlayertext h3::first-letter {
    color: cornflowerblue;
    font-size: xx-large;
} */

.contentlayertext h4 {
    padding: 20px 40px;
    font-size: 20px;
    color: aliceblue;
}

#contentlayerfooter {
    justify-content: center;
    align-items: center;
    text-align: center;
}


#contentlayerfooter h3 {
    font-size: 30px;
    text-transform: capitalize;
}

#contentlayerfooter h4 {
    color: aliceblue;
    text-align: center;
    padding: 10px 30px;
    margin: 35px 10px;
}

section {
    background-color: aliceblue;
    justify-content: center;
    position: relative;
    padding: 30px;
    /* margin: 50px; */
}

.secondtext p {

    border: 1px solid rgb(136, 66, 222);
    color: aqua;
    padding: 30px;


}

.secondtext h3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(3, 1, 15);
    font-size: 30px;
    text-transform: capitalize;
    /* height: 70vh; */
    padding: 60px 80px;

}

.mining {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px;
    padding: 49px;
}

.mining>div {
    background-color: rgb(18, 9, 58);
    padding: 97px 80px;
    align-content: center;
    justify-content: center;
    margin: 45px;
    text-align: center;
    border-radius: 20px;
}

.mining>img {
    margin: 60px;
}

.mining h5 {
    color: azure;
    font-weight: 500;

}

#mining-btn {
    background-color: blue;
    border-radius: 22px;
    padding: 10px 35px;
    display: inline-flex;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    border: none;
}

.thirdlayer {
    /* height: 100vh; */
    width: inherit;
    background-color: rgb(29, 4, 110);
    padding: 30px;
}

#tltimg {
    position: absolute;
    top: 0;
    left: 20px;
    right: 40px;
    z-index: 5;
    width: 20%;
    /* height: 40%; */

}

.thirdlayertext {
    display: inline-flex;
    justify-content: space-around;
    margin: 40px;
    padding: 0px 30px;
    /* align-items: center; */

}

#market-set {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    text-transform: capitalize;
    padding: 30px;
    margin-top: 20px;
}

#textheader {
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    padding: 20px 30px;
    /* font-size: 16px; */
    line-height: 28px;
}


#textheader-2 {
    font-size: 18px;
    /* font-weight: 100; */
    font-style: normal;
    font-size: 16px;
    padding: 20px 30px;
    line-height: 28px;
}

#btnlearnmore {
    background-color: blue;
    border-radius: 28px;
    padding: 20px 45px;
    display: inline-flex;
    margin: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    border: none;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

}