/* @media screen and(min-width )  {
    .navbar {

        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
        width: 100%;
    }
    
} */
/* on screens that are extra small */


@media screen and (max-width: 600px) {
    .navbar {
        width: 100%;
        height: 100vh;
        background-color: brown;
    }

    #navicon{
        float: right
        display:flex;
    }

    .menu {
       display: none;
    }
}

/* 
@media screen and (min-width: 768px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-color: lightgreen;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: lightgreen;
    }
} */